@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

:root {
  --brand-beige: #FDFCF0;
  --brand-orange: #FF8C00;
  --brand-dark: #1A1A1A;
}

body {
  background-color: var(--brand-beige);
  color: var(--brand-dark);
}